header{
  padding: 30px 20px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 50px;
}
header:after{
  content: "";
  display: table;
  clear: both;
}
header a{
  color: #403E81;
  text-decoration: none;

}
header .logo{
  display: inline-block;
  float: left;
  margin-right: 28px;
  position: relative;
  bottom: 50px;
}
header .logo img{
  width: 200px;
}
header .logo .menu{
  display: inline-block;
  float: left;
  position: relative;
  top: 68px;
  left: 50px;
}
header .logo .menu a{
  text-transform: uppercase;
}

/*DESKTOP DEVICES*/
@media only screen and (max-width: 1215px) {

}
/*TABLET DEVICES*/
@media only screen and (max-width: 1023px) {

}
/*MOBILE DEVICES*/
@media only screen and (max-width: 767px) {

}
