#latest{
  padding: 50px 0;
  background: white;
}
#latest .header{
  padding: 50px 0;
}
#latest .header:after{
  content: "";
  display: table;
  clear: both;
}
#latest .header h1{
  color: #6066F2;
  font-size: 4.2rem;
  max-width: 400px;
  width: 100%;
  display: inline-block;
  float: left;
}
#latest .header .directions{
  display: inline-block;
  float: right;
  position: relative;
  top: 35px;
}
#latest .header .directions .move-left{
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  float: left;
  padding: 20px 50px;
  font-size: 3rem;
  background:#6066F2;
  color: white;
  border: 1px solid white;
}
#latest .header .directions .move-right{
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  float: right;
  padding: 20px 50px;
  font-size: 3rem;
  background:#6066F2;
  color: #cecece;
  border: 1px solid #cecece;
}
#latest .body{
  padding: 100px 0;
}
#latest .body:after{
  content: "";
  display: table;
  clear: both;
}
#latest .body .column{
  width: 33.33%;
  float: left;
  padding: 0 15px;
  text-align: center;
}
#latest .body .column:nth-child(1) .bg-square{
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background: rgb(18,4,11);
  background: -webkit-linear-gradient(219deg, rgba(18,4,11,1) 7%, rgba(25,88,92,1) 46%, rgba(10,42,154,1) 69%, rgba(181,169,175,1) 100%);
  background: -o-linear-gradient(219deg, rgba(18,4,11,1) 7%, rgba(25,88,92,1) 46%, rgba(10,42,154,1) 69%, rgba(181,169,175,1) 100%);
  background: linear-gradient(309deg, rgba(18,4,11,1) 7%, rgba(25,88,92,1) 46%, rgba(10,42,154,1) 69%, rgba(181,169,175,1) 100%);
  position: relative;
  }
#latest .body .column:nth-child(2) .bg-square{
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background: rgb(252,222,80);
  background: -webkit-linear-gradient(219deg, rgba(252,222,80,1) 7%, rgba(172,20,20,1) 46%, rgba(154,123,10,1) 69%, rgba(236,89,82,1) 100%);
  background: -o-linear-gradient(219deg, rgba(252,222,80,1) 7%, rgba(172,20,20,1) 46%, rgba(154,123,10,1) 69%, rgba(236,89,82,1) 100%);
  background: linear-gradient(309deg, rgba(252,222,80,1) 7%, rgba(172,20,20,1) 46%, rgba(154,123,10,1) 69%, rgba(236,89,82,1) 100%);
  position: relative;
  }
#latest .body .column:nth-child(3) .bg-square{
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background: rgb(184,190,221);
  background: -webkit-linear-gradient(219deg, rgba(184,190,221,1) 7%, rgba(3,1,1,1) 46%, rgba(0,0,0,1) 69%, rgba(203,204,214,1) 100%);
  background: -o-linear-gradient(219deg, rgba(184,190,221,1) 7%, rgba(3,1,1,1) 46%, rgba(0,0,0,1) 69%, rgba(203,204,214,1) 100%);
  background: linear-gradient(309deg, rgba(184,190,221,1) 7%, rgba(3,1,1,1) 46%, rgba(0,0,0,1) 69%, rgba(203,204,214,1) 100%);
  position: relative;
}
#latest .body .column .bg-square img{
  width: 120%;
  position: absolute;
  top: 25px;
  left: 5%;
}
#latest .body .column:nth-child(1) .bg-square .cart{
  width: 94px;
  height: 94px;
  border: 10px solid white;
  position: absolute;
  top: -47px;
  right: -47px;
  border-radius: 50%;
  background: rgb(18,4,11);
  background: -webkit-linear-gradient(219deg, rgba(18,4,11,1) 7%, rgba(25,88,92,1) 46%, rgba(10,42,154,1) 69%, rgba(181,169,175,1) 100%);
  background: -o-linear-gradient(219deg, rgba(18,4,11,1) 7%, rgba(25,88,92,1) 46%, rgba(10,42,154,1) 69%, rgba(181,169,175,1) 100%);
  background: linear-gradient(309deg, rgba(18,4,11,1) 7%, rgba(25,88,92,1) 46%, rgba(10,42,154,1) 69%, rgba(181,169,175,1) 100%);
  color: white;
}
#latest .body .column:nth-child(2) .bg-square .cart{
  width: 94px;
  height: 94px;
  border: 10px solid white;
  position: absolute;
  top: -47px;
  right: -47px;
  border-radius: 50%;
  background: rgb(252,222,80);
  background: -webkit-linear-gradient(219deg, rgba(252,222,80,1) 7%, rgba(172,20,20,1) 46%, rgba(154,123,10,1) 69%, rgba(236,89,82,1) 100%);
  background: -o-linear-gradient(219deg, rgba(252,222,80,1) 7%, rgba(172,20,20,1) 46%, rgba(154,123,10,1) 69%, rgba(236,89,82,1) 100%);
  background: linear-gradient(309deg, rgba(252,222,80,1) 7%, rgba(172,20,20,1) 46%, rgba(154,123,10,1) 69%, rgba(236,89,82,1) 100%);
  color: white;
}
#latest .body .column:nth-child(3) .bg-square .cart{
  width: 94px;
  height: 94px;
  border: 10px solid white;
  position: absolute;
  top: -47px;
  right: -47px;
  border-radius: 50%;
  background: rgb(184,190,221);
  background: -webkit-linear-gradient(219deg, rgba(184,190,221,1) 7%, rgba(3,1,1,1) 46%, rgba(0,0,0,1) 69%, rgba(203,204,214,1) 100%);
  background: -o-linear-gradient(219deg, rgba(184,190,221,1) 7%, rgba(3,1,1,1) 46%, rgba(0,0,0,1) 69%, rgba(203,204,214,1) 100%);
  background: linear-gradient(309deg, rgba(184,190,221,1) 7%, rgba(3,1,1,1) 46%, rgba(0,0,0,1) 69%, rgba(203,204,214,1) 100%);
  color: white;
}
#latest .body .column .bg-square .cart .fas{
  font-size: 2rem;
  position: relative;
  top: 20px;
  left: -3px;
}
#latest .body .column .line{
  width: 50%;
  height: 4px;
  background: #6066F2;
  margin: 50px auto;
  display: inline-block;
}
#latest .body .column .price{
  color: #FEA83B;
  font-weight: 700;
  font-size: 2.3rem;
}
#latest .footer{
  text-align: center;
  position: relative;
}
#latest .footer img{
  width: 40%;
  z-index: 1;
  position: absolute;
  top: 224px;
  left: 30%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%) invert(100%);
  opacity: .5;
  transform: rotate(5deg);
}
#latest .footer .info-box{
  position: relative;
  z-index: 2;
  padding: 200px 0;
}
#latest .footer .info-box h2{
  color: #6066F2;
  font-size: 4rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 60px;
}
#latest .footer .info-box form{
  vertical-align: top;
  display: inline-block;
  margin: 0 auto;
}
#latest .footer .info-box .input-area{
  background: white;
  border-radius: 50px;
  display: inline-block;
  padding: 1px;
  float: left;
}
#latest .footer .info-box .input-area .far{
  font-size: 2rem;
  position: relative;
  top: 7px;
  margin-left: 15px;
  color: #CEDDE7;
}
#latest .footer .info-box .input-area input{
  background: white;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1rem;
  width: 230px;
}
#latest .footer .info-box .input-area:nth-child(1) input{
  height: 61px;
  margin-right: 58px;
}
#latest .footer .info-box .input-area:nth-child(1) .far{
  position: relative;
  top: 6px;
}
#latest .footer .info-box .input-area button{
  background: #FFA12E;
  padding: 20px 50px;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 50px;
}

/*DESKTOP DEVICES*/
@media only screen and (max-width: 1215px) {

}
/*TABLET DEVICES*/
@media only screen and (max-width: 1023px) {
  #latest .header h1 {
    color: #6066F2;
    font-size: 3.5rem;
  }
  #latest .header .directions {
    top: 18px;
  }
  #latest .body .column {
    width: 50%;
    margin-bottom: 150px;
  }
  #latest .footer img {
    width: 40%;
    z-index: 1;
    position: absolute;
    top: 224px;
    left: 30%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%) invert(100%);
    opacity: .5;
    transform: rotate(5deg);
  }
  #latest .footer .info-box .input-area{
    background: white;
    border-radius: 50px;
    display: inline-block;
    padding: 1px;
  }
  #latest .footer .info-box .input-area .far{
    font-size: 2rem;
    position: relative;
    top: 7px;
    margin-left: 15px;
    color: #CEDDE7;
  }
  #latest .footer .info-box .input-area input[type="email"]{
    background: white;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1rem;
    width: 230px;
  }
  #latest .footer .info-box .input-area button{
    background: #FFA12E;
    padding: 20px 50px;
    font-size: 1rem;
    width: 35%;
    float: right;
  }
  #latest .footer .info-box .input-area:nth-child(1) {
    margin: 0;
    width: 100%;
    margin-bottom: 50px;
  }
  #latest .footer .info-box .input-area:nth-child(2) {
    margin: 0;
    width: 100%;
  }
  #latest .footer .info-box .input-area:nth-child(1) input {
    height: 61px;
    margin-right: 58px;
    position: relative;
    left: -100px;
  }
  #latest .footer .info-box .input-area:nth-child(1) .far {
    position: relative;
    top: 6px;
    left: -160px;
  }
}
/*MOBILE DEVICES*/
@media only screen and (max-width: 767px) {
  #latest .header h1 {
    color: #6066F2;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    max-width: none;
  }
  #latest .header .directions {
    display: none;
  }
  #latest .body .column {
    width: 100%;
    margin-bottom: 150px;
  }
  #latest .body .column:nth-child(1) .bg-square,
  #latest .body .column:nth-child(2) .bg-square,
  #latest .body .column:nth-child(3) .bg-square{
    transform: scale(.8);
  }
  #latest .footer .info-box .input-area{
    background: white;
    border-radius: 50px;
    display: inline-block;
    padding: 1px;
  }
  #latest .footer .info-box .input-area .far{
    font-size: 2rem;
    position: relative;
    top: 7px;
    margin-left: 15px;
    color: #CEDDE7;
  }
  #latest .footer .info-box .input-area input[type="email"]{
    background: white;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1rem;
    width: 230px;
  }
  #latest .footer .info-box .input-area button{
    background: #FFA12E;
    padding: 20px 50px;
    font-size: 1rem;
    width: 35%;
    float: right;
  }
  #latest .footer .info-box .input-area:nth-child(1) {
    margin: 0;
    width: 100%;
    margin-bottom: 50px;
  }
  #latest .footer .info-box .input-area:nth-child(2) {
    margin: 0;
    width: 100%;
  }
  #latest .footer .info-box .input-area:nth-child(1) input {
    height: 61px;
    margin-right: 58px;
    position: relative;
    left: -100px;
  }
  #latest .footer .info-box .input-area:nth-child(1) .far {
    position: relative;
    top: 6px;
    left: -160px;
  }
  #top-jumbo .right-side{
    width: 60%;
    display: inline-block;
    float: left;
    padding: 0 40px;
  }

}
